
.card{
    height: 500px;
    width: 400px;
    border: 2px solid black;
    margin: 20px 0 0 40%;
    background-color: rgb(206, 206, 132);
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 20px 10px 10px grey;
    background-image: linear-gradient(to right ,aqua  ,rgb(87, 205, 87),black);
}

.card img{
    align-items: center;
    margin-left: 25%;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}
.follow{
    margin-left: 37%;
    height: 40px;
    width: 100px;
    color: white;
    background-color: black;
    border: none;
   
}